modules/spaceace/combinatorics/combinatoricsTestSuite.build*
modules/spaceace/combinatorics/combinatorics.build*
modules/spaceace/combinatorics/combinatorics.jungle*
modules/spaceace/combinatorics/"*Combinatorics.Jiproj*"
